.right-container { 
  /* width: 1240px; */
  max-width: 1240px;
  /* height: 319px; */
  /* gap: 110px; */
  display: flex;
  padding:0px 40px;
  /* border:2px solid #fff; */
}
.about-icon {
  width: 40px;
  height: 40px;
}
.about-img{
  width: 40%;
}
.about-content{
  /* width: 60%; */
  text-align: left;
}
.about-top{
  /* background-color: blue; */
  width: 100%;
  max-width: 650px;
height: 64px;
gap: 18px;
display: flex;
align-items: center;

}